
.content-align {
  position: relative;
  top: -40px;
  overflow: visible;
  border: 10px solid white;
  background: white;
}

$navbar-burger-color: #444444;
$navbar-item-hover-color: white !important; 
$navbar-item-active-background-color: #444444;
$navbar-burger-color: #444444 !important;
$navbar-item-active-background-color: transparent !important;

@import '~bulma';
@import '~bulma-extensions';
